<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MAP RESTAURANTS</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body class="search-colors col-xs-12 col-md-12">
  <header>
    <h1 class="text-center">FOODMAP</h1>
    <hr>
  </header>
  <section class="container-fluid">
    <div id="map" class="row text-center">
      <iframe class="img-responsive center-block col-md-12" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31204.022342910288!2d-77.02489833685286!3d-12.146134079845856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRESTAURANTES+DE+LIMA!5e0!3m2!1ses!2spe!4v1514831370423">
      </iframe>
    </div>
  </section>
  <hr>
  <section class="container-fluid">
    <div id="container" class="row">
      <h2 class="text-center">Comida cerca de ti</h2>
      <div class="search">
        <input type="text" id="busqueda" class="form-control text-center" placeholder="Filtrar restaurants">
        <i class="fa fa-search"></i>
        <ul >
          <li>
            <h3>MAIDO</h3>
            <img src="../assets/images/maido.jpg" alt="Maido" class="img-responsive center-block">
          </li>
          <li>
            <h3>NANKA</h3>
            <img src="../assets/images/nanka.jpg" alt="Nanka" class="img-responsive center-block">
          </li>
          <li>
            <h3>MARAS</h3>
            <img src="../assets/images/maras.jpg" alt="Maras" class="img-responsive center-block">
          </li>
          <li>
            <h3>COSTANERA 700</h3>
            <img src="../assets/images/costanera700.jpg" alt="Costanera 700" class="img-responsive center-block">
          </li>
          <li>
            <h3>AMAZ</h3>
            <img src="../assets/images/amaz.jpg" alt="Amaz" class="img-responsive center-block">
          </li>
          <li>
            <h3>IK RESTAURANT</h3>
            <img src="../assets/images/ikrestaurant.jpg" alt="Amaz" class="img-responsive center-block">
          </li>
          <li>
            <h3>CENTRAL</h3>
            <img src="../assets/images/central.jpg" alt="Amaz" class="img-responsive center-block">
          </li>
          <li>
            <h3>LA VISTA</h3>
            <img src="../assets/images/lavista.jpg" alt="Amaz" class="img-responsive center-block">
          </li>
          <li>
            <h3>HUACA PUCLLANA</h3>
            <img src="../assets/images/huaca.jpg" alt="Amaz" class="img-responsive center-block">
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/search.js"></script>
  <script src="../js/data.js"></script>
</body>

</html>